<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=SupportTicketDb;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultPageSize" value="5" />
  </appSettings>
</configuration>
